@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #040714;
  color: #f9f9f9;

  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: #f9f9f9;
  text-decoration: none;
}

@media screen and(min-width:768px) {

  /* for Destop */
  body {
    font-size: 16px;
  }

}

@media screen and(min-width:480px) and (max-width:768px) {

  body {
    font-size: 15px;
  }

}

@media screen and(min-width:479px) {

  /* for Mobile */
  body {
    font-size: 14px;
  }

}